<section>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmitLogin()"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
  >
    <mat-form-field>
      <input
        type="email"
        formControlName="email"
        matInput
        placeholder="Email"
      />
      <mat-hint>Please enter your email address</mat-hint>
      <mat-error *ngIf="loginForm.get('email').hasError('required')"
        >Email required for login</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        formControlName="password"
        matInput
        placeholder="Password"
      />
      <mat-hint>Please enter your password</mat-hint>
      <mat-error *ngIf="loginForm.get('password').hasError('required')"
        >Password required for login</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Submit
    </button>
  </form>
</section>
