<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center"
      >Let's get to working out</mat-card-title
    >
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select [(ngModel)]="value" placeholder="Select Workout" required>
          <mat-option
            *ngFor="let exercise of exercises"
            [value]="exercise.id"
            >{{ exercise.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button
        mat-icon-button
        (click)="onStartTraining()"
        fxLayoutAlign="center center"
      >
        <mat-icon>pool</mat-icon>Get It!
      </button>
    </mat-card-actions>
  </mat-card>
</section>
