<section class="signup-form">
  <form
    #f="ngForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    (ngSubmit)="onSubmitForm(f)"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Email cannot be empty</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >Email is invalid</mat-error
      >
    </mat-form-field>

    <mat-form-field hintLabel="Password must be 8 characters">
      <input
        type="password"
        matInput
        placeholder="Password"
        ngModel
        name="password"
        required
        minlength="8"
        #pwdInput="ngModel"
      />
      <mat-hint align="end"> {{ pwdInput.value?.length }} / 8</mat-hint>
      <mat-error>Must be at least 8 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        ngModel
        name="birthdate"
        matInput
        placeholder="Your birthdate (must be 18)"
        [matDatepicker]="picker"
        [max]="maxDate"
        required
      />
      <mat-datepicker-toggle mat-suffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox required ngModel name="agree" color="primary"
      >Agree to terms and conditions</mat-checkbox
    >

    <button
      *ngIf="!isLoading"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="f.invalid"
    >
      Submit
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
